.detailpage-button-mobile{
    display: flex;
    flex-direction: column;
    margin-left: 23px;
    margin-right: 23px;
}

.schedule-button-mobile{
    width: 347px;
    height: 49px;
    border-radius: 12px;
    border: 1px solid #000;
    margin-top: 8px;
    margin-bottom: 18px;
    color: #000;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.81px;
    padding: 10px 14px 12px 14px ;
}

.revervation-button-mobile{
    width: 347px;
    height: 63.513px;
    flex-shrink: 0;
    background-color: var(--theme-navy, #2B3252);
    border-radius: 12px;
    border: 1px solid #000;
    margin-top: 8px;
    margin-bottom: 18px;
    color: #FAD744;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.81px;
}