.detail-contents {
    padding-top: 31px;
    padding-bottom: 5px;
    padding-left: calc(100vw * 143 / 1440);
    padding-right: calc(100vw * 24 / 1440);
    display: flex;
    /* flex-direction: column; */
}

.information {
    display: flex;
    flex-direction: row;
}

.show-image {
    background-color: #d89999;
    width: calc(100vw * 329 / 1440);
    height: calc(100vw * 466 / 1440);
    border-radius: 8px;
}

.show-main {
    margin-left: calc(100vw * 24 / 1440);
    text-align: left;
}

.show-title {
    display: flex;
    height: calc(100vw * 65 / 1440);
    flex-direction: column;
    /* justify-content: center; */
    margin: 0;
    font-size: calc(100vw * 48 / 1440);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.info-title {
    flex-direction: column;
    justify-content: center;
    height: calc(100vw * 40 / 1440);
    margin: 0;
    font-size: calc(100vw * 28 / 1440);
    font-weight: 500;
}

.info-content {
    width: calc(100vw * 448 / 1440);
    font-size: calc(100vw * 20 / 1440);
    font-weight: 300;
    text-align: left;
    font-family: Noto Sans KR;
    letter-spacing: calc(100vw * -0.9 / 1440);
    line-height: calc(100vw * 27 / 1440);
}

.show-detail {
    margin-left: calc(100vw * 24 / 1440);
    text-align: left;
}

.detail-title {
    flex-direction: column;
    justify-content: center;
    margin-top: calc(100vw * 65 / 1440);
    font-size: calc(100vw * 28 / 1440);
    font-weight: 600;
    margin-bottom: 0;
}

.detail-info-period {
    width: calc(100vw * 448 / 1440);
    font-size: calc(100vw * 24 / 1440);
    font-weight: 300;
    letter-spacing: calc(100vw * -1.08 / 1440);
    margin-top: calc(100vw * 7 / 1440);
}

.detail-info {
    width: calc(100vw * 200 / 1440);
    font-size: calc(100vw * 24 / 1440);
    font-weight: 300;
    letter-spacing: calc(100vw * -1.08 / 1440);
    margin-top: calc(100vw * 7 / 1440);
}

.place-and-price {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.show-detail-content {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.bold {
    font-weight: 500;
}

p {
    margin: 0;
}
