.detail-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(100vw * 280 / 1440);
}

.detail-z-index {
    z-index: 50;
}

.detail-select-schedule {
    width: calc(100vw * 448 / 1440);
    height: calc(100vw * 69 / 1440);
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #000;
    padding: calc(100vw * 10 / 1440) 0px calc(100vw * 10 / 1440)
        calc(100vw * 14 / 1440);
    color: #000;
    font-family: Noto Sans KR;
    font-size: calc(100vw * 28 / 1440);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.26px;
    margin-bottom: calc(100vh * 10 / 1440);
}

.detail-select-schedule:hover {
    cursor: pointer;
}
select {
    appearance: none;
    -webkit-appearance: none;
}
select::-ms-expand {
    display: none;
}
.select-arrow {
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #999 transparent transparent tramsparent;
}
select {
    background: url('../../../../public/images/arrow_down_select.svg') no-repeat
        97% 50%/40px auto;
}
.detail-ticketing-button {
    display: flex;
    width: calc(100vw * 448 / 1440);
    padding: 13.67px 0px 13.67px 0px;
    line-height: normal;
    height: calc(100vw * 82 / 1440);
    background-color: var(--theme-navy, #2b3252);
    border-radius: calc(100vw * 40 / 1440);
    border: 0;
    color: #fad744;
    align-items: center;
    justify-content: center;
    font-family: Noto Sans KR;
    font-size: calc(100vw * 30 / 1440);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-shrink: 0;
}

.detail-ticketing-button:hover {
    cursor: pointer;
}
