.host-create-container {
    display: flex;
}

.host-create-left {
    margin-top: calc(100vw * 41 / 1440);
    margin-left: calc(100vw * 143 / 1440);
    margin-right: calc(100vw * 40 / 1440);
}

.upload-image {
    width: calc(100vw * 330 / 1440);
    height: calc(100vw * 467 / 1440);
    position: absolute;
    left: calc(100vw * 150 / 1440);
    z-index: 1;
    cursor: pointer;
}

input[type='file']::file-selector-button {
    src: 'images/upload-image.png';
    width: calc(100vw * 330 / 1440);
    height: calc(100vw * 467 / 1440);
    opacity: 0;
    cursor: pointer;
}

input[type='file'] {
    /* opacity: 0; */
    position: relative;
    z-index: 2;
}

.host-create-right {
    width: calc(100vw * 900 / 1440);
    margin-top: calc(100vw * 44 / 1440);
}

.host-create-right-1 {
    display: flex;
}

.host-create-title {
    font-size: 36px;
    width: 448px;
    height: 48px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-content: center;
}

.host-create-title::placeholder {
    color: rgba(0, 0, 0, 0.55);
    font-size: 36px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.host-create-right-2 {
    width: calc(100vw * 841 / 1440);
    display: flex;
    margin-top: calc(100vw * 10 / 1440);
}

.host-create-introduction-title {
    display: flex;
    color: #000;
    font-size: 32px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.host-create-introduction-content:focus {
    outline-width: 2px;
    outline-color: var(—theme-red, #ef5455);
}

.host-create-introduction-content:hover {
    border-width: 2px;
    border-color: rgba(239, 84, 85, 0.25);
}

.host-create-introduction-content:focus {
    outline-width: 2px;
    outline-color: var(--theme-red, #ef5455);
}

input:hover {
    border-width: 2px;
    border-color: rgba(239, 84, 85, 0.25);
}

input:focus {
    outline-width: 2px;
    outline-color: var(--theme-red, #ef5455);
}

select:hover {
    border-width: 2px;
    border-color: rgba(239, 84, 85, 0.25);
}

select:focus {
    outline-width: 2px;
    outline-color: var(--theme-red, #ef5455);
}

.host-create-introduction-content {
    width: 448px;
    height: 277px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    font-size: 24px;
    font-family: Noto Sans KR;
}

.host-create-introduction-content::placeholder {
    color: rgba(0, 0, 0, 0.55);
    font-size: 24px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.08px;
}

.host-create-right-2-right {
    margin-left: calc(100vw * 40 / 1440);
}

.host-create-place {
    margin-bottom: 20px;
}

.host-create-place-title {
    display: flex;
}

.host-create-price {
    margin-bottom: 20px;
}

.host-create-price-content {
    margin-left: 0px;
    width: 329px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.55);
    font-size: 24px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.08px;
}

.host-create-bank {
    margin-bottom: 20px;
}

.host-create-bank-set {
    display: flex;
    flex-direction: column;
}

.host-create-bank-name {
    margin-bottom: 8px;
    width: 329px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.55);
    font-size: 24px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.08px;
}

.host-create-place-title {
    display: flex;
    color: #000;
    font-size: 32px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.host-create-price-title {
    display: flex;
    color: #000;
    font-size: 32px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.host-create-ticket-date-start {
    display: flex;
    margin-bottom: 8px;
}

.host-create-date-start-month {
    margin-left: calc(100vw * 25 / 1440);
    display: flex;
}

.host-create-ticket-start-text2 {
    width: 100px;
    height: 36px;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 24px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.host-create-date {
    margin-top: calc(100vw * 15 / 1440);
    display: flex;
    width: 270px;
    height: 48px;
    flex-shrink: 0;
    color: #000;
    font-size: 32px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.host-create-ticket-start-text {
    height: 36px;
    width: 40px;
    margin-right: calc(100vw * 15 / 1440);
    display: flex;
    align-items: center;
}

.select-month-start {
    width: 80px;
    height: 36px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #000;
    font-size: 20px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-day-start {
    width: 80px;
    height: 36px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #000;
    font-size: 20px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-dayOfWeek-start {
    width: 80px;
    height: 36px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #000;
    font-size: 20px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-month-end {
    width: 80px;
    height: 36px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #000;
    font-size: 20px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-place {
    width: 330px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #000;
    font-size: 24px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.08px;
}

.select-day-end {
    width: 80px;
    height: 36px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #000;
    font-size: 20px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-dayOfWeek-end {
    width: 80px;
    height: 36px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #000;
    font-size: 20px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.host-create-date-start-day {
    display: flex;
}

.host-create-date-start-dayOfWeek {
    display: flex;
}

.host-create-ticket-date-end {
    display: flex;
    margin-bottom: 8px;
}

.host-create-date-end-month {
    margin-left: calc(100vw * 25 / 1440);
    display: flex;
}

.host-create-date-end-day {
    display: flex;
}

.host-create-date-end-dayOfWeek {
    display: flex;
}

.host-create-date-start-time {
    margin-left: calc(100vw * 20 / 1440);
    width: 250px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.host-create-date-start-time::placeholder {
    color: rgba(0, 0, 0, 0.55);
    font-size: 24px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.08px;
}

.host-create-date-end-time {
    margin-left: calc(100vw * 20 / 1440);
    width: 250px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.host-create-date-end-time::placeholder {
    color: rgba(0, 0, 0, 0.55);
    font-size: 24px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.08px;
}

.host-create-add-buttons {
    display: flex;
}

.host-create-button {
    margin-left: 100px;
    margin-top: 24px;
    margin-bottom: calc(100vw * 28 / 1440);
    width: 448px;
    height: 82px;
    flex-shrink: 0;
    color: #fad744;
    text-align: center;
    font-size: 32px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #2b3252;
    border-radius: 45px;
}

.event-add-button {
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
    width: 212px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #231f20;
    color: white;
    font-family: Noto Sans KR;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.9px;
}

.event-delete-button {
    display: flex;
    text-align: end;
    border: none;
}

.event-schedules {
    display: flex;
    flex-direction: column;
}

.event-function {
    display: flex;
    height: auto;
}
