.myModal {
    position: absolute;
    left: calc(100vw * 925 / 1229);
    top: 123px;
    width: 617px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #2b3252;
    z-index: 999;

    animation: modal-show 1s;

    color: var(--theme-navy, #2b3252);
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @keyframes modal-show {
        from {
            opacity: 0;
            margin-top: -50px;
        }

        to {
            opacity: 1;
            margin-top: 0;
        }
    }
}

.popup-button {
    width: 212px;
    height: 60px;
    flex-shrink: 0;
    margin-top: 55px;
    color: #fff;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 9px;
    background: var(--theme-navy, #2b3252);
}

.myModal-message {
    margin-top: 30px;
}
