.whole-container{
  display: flex;
  justify-content: space-evenly;
}

.admin-request{
  width: 50%;
}

.already-request{
  width: 50%;
}

.request{
  display: flex;
  width: 447.791px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 13px;
  background: rgba(43, 50, 82, 0.20);
  margin-bottom: 20px;
}

.request-title{
  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
  width: 50%;
}

.request-email{
  color: #000;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  
  display: flex;
  justify-content: end;
  padding-right: 10px;
  padding-top: 5px;
}

.right-side{
  width: 50%;
}

.request-button{
  display: flex;
  justify-content: end;
  padding-top: 15px;
  padding-right: 10px;
}

.confirm{
  width: 80px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--theme-navy, #2B3252);
  color: #FFF;
  margin-right: 5px;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.delete{
  width: 80px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #F6F6F6;;
  color: black;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*============등록된==========*/

.already{
  width: 448px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 13px;
  background: rgba(43, 50, 82, 0.20);
  margin-bottom: 20px;
}

