.mobile-main-header {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 48px;
    flex-shrink: 0;
    color: var(--theme-navy, #2b3252);
    text-align: center;
    font-family: Playfair Display;
    font-size: calc(100vw * 28 / 400);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 18px;
}
