.seats-container {
    height: calc(100vw * 400 / 1440);
    display: grid;
    row-gap: calc(100vw * 10 / 1440);
    column-gap: calc(100vw * 10 / 1440);
    grid-template-columns:
        1fr 1fr 1fr calc(100vw * 48 / 1440) repeat(8, 1fr) calc(
            100vw * 48 / 1440
        )
        1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
}

.start {
    grid-row: 1;
    grid-column: 1;
}

.col-num {
    grid-row: 1;
    grid-column: auto / span 1;

    display: flex;
    align-items: end;
    justify-content: center;

    text-align: center;
    font-size: calc(100vw * 20 / 1440);
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.row-alpha {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: calc(100vw * 20 / 1440);
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.seat {
    width: calc(100vw * 34 / 1440);
    height: calc(100vw * 33.3 / 1440);
}

.seat-available {
    background-color: #727272;
    cursor: pointer;
}

.seat-unavailable {
    background-color: #d9d9d9;
}

.seat-selected {
    background-color: #fad744;
    cursor: pointer;
}

.seat-progress {
    border: 1px solid #000;
    background-color: #f2f2f2;
}

.seat-completed {
}
