.seat-ticketing-frame {
    width: calc(100vw * 212 / 1440);
    height: calc(100vw * 594 / 1440);
    margin-top: calc(100vw * 32 / 1440);
    border-radius: 27px;
    background: #fff;
    box-shadow: 4px 7px 4px 0px rgba(43, 50, 82, 0.33);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.seat-show-poster {
    width: calc(100vw * 146 / 1440);
    height: calc(100vw * 207 / 1440);
    margin-left: calc(100vw * 16 / 1440);
    margin-top: calc(100vw * 15 / 1440);
    border-radius: 8px;
    background: #d89999;
}

.seat-show-title {
    margin-top: 5px;
    margin-left: 10px;
    text-align: start;
    font-size: calc(100vw * 24 / 1440);
    font-weight: 500;
}

.seat-show-schedule {
    margin-right: 10px;
    text-align: end;
    font-size: calc(100vw * 20 / 1440);
    font-weight: 300;
}

.seat-num-people-title {
    margin-left: 10px;
    text-align: left;
    font-size: calc(100vw * 20 / 1440);
    font-weight: 350;
}

.seat-num-people {
    margin-left: calc(100vw * 10 / 1440);
    width: calc(100vw * 192 / 1440);
    height: calc(100vw * 45 / 1440);
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: calc(100vw * 24 / 1440);
    font-family: Roboto;
    font-weight: 400;
}

.seat-number {
    width: calc(100vw * 34 / 1440);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat-final-check {
    margin-left: calc(100vw * 10 / 1440);
    margin-top: calc(100vw * 13 / 1440);
    padding-top: calc(100vw * 8 / 1440);
    width: calc(100vw * 192 / 1440);
    height: calc(100vw * 90 / 1440);
    border-radius: 10px;
    background: #2b3252;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seat-final-check-content {
    margin-bottom: calc(100vw * 9 / 1440);
    margin-left: calc(100vw * 8 / 1440);
    margin-right: calc(100vw * 9 / 1440);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seat-final-check-title-text {
    color: #fff;
    font-size: calc(100vw * 15 / 1440);
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}

.seat-final-check-content-text {
    color: var(--theme-yellow, #fad744);
    font-size: calc(100vw * 15 / 1440);
    font-family: Roboto;
    font-weight: 500;
}

.seat-final-check-content-selected-name {
    width: calc(100vw * 120 / 1440);
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
}

.seat-ticketing-submit {
    width: calc(100vw * 192 / 1440);
    height: calc(100vw * 67 / 1440);
    margin-left: calc(100vw * 10 / 1440);
    margin-top: calc(100vw * 12 / 1440);
    margin-bottom: calc(100vw * 23 / 1440);
    border-radius: calc(100vw * 46 / 1440);
    border: none;
    background: var(--theme-yellow, #fad744);

    color: var(--theme-red, #ef5455);
    text-align: center;
    font-size: calc(100vw * 20 / 1440);
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;
    cursor: pointer;
}

.seats-type-grid {
    margin-top: 16px;
    display: grid;
    column-gap: calc(100vw * 86 / 1440);
    row-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.seats-type-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seats-type-box {
    width: 37px;
    height: 37px;
    margin-right: 9px;
}

.seats-type-box-selected {
    background: #fad744;
}

.seats-type-box-available {
    background: #727272;
}

.seats-type-box-ticketed {
    border: 1px solid #000;
    background: #f2f2f2;
}

.seats-type-box-not-available {
    background: #d9d9d9;
}

.seats-type-box-proceeding {
    border: 1px solid #000;
    background: #f2f2f2;
}
