.seat-ticketing-frame {
    width: 212px;
    height: 594px;
    margin-top: 32px;
    border-radius: 27px;
    background: #fff;
    box-shadow: 4px 7px 4px 0px rgba(43, 50, 82, 0.33);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.seat-show-poster {
    width: 146px;
    height: 207px;
    margin-left: 16px;
    margin-top: 15px;
    border-radius: 8px;
    background: #d89999;
}

.seat-show-title {
    margin-top: 5px;
    margin-left: 10px;
    text-align: start;
    font-size: 24px;
    font-weight: 500;
}

.seat-show-schedule {
    margin-right: 10px;
    text-align: end;
    font-size: 20px;
    font-weight: 300;
}

.seat-num-people-title {
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 350;
}

.seat-num-people {
    margin-left: 10px;
    width: 192px;
    height: 54px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #2b3252;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
}

.seat-plus-minus {
    width: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat-number {
    width: 120px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat-final-check {
    margin-left: 10px;
    margin-top: 13px;
    width: 192px;
    height: 90px;
    border-radius: 10px;
    background: #2b3252;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seat-final-check-content {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seat-final-check-title-text {
    color: #fff;
    font-size: 15px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}

.seat-final-check-content-text {
    color: var(--theme-yellow, #fad744);
    font-size: 15px;
    font-family: Roboto;
    font-weight: 500;
}

.seat-ticketing-submit {
    width: 192px;
    height: 67px;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 23px;
    border-radius: 46px;
    border: none;
    background: var(--theme-yellow, #fad744);

    color: var(--theme-red, #ef5455);
    text-align: center;
    font-size: 20px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;
}

.seats-type-grid {
    margin-top: 16px;
    display: grid;
    column-gap: calc(100vw * 86 / 1440);
    row-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.seats-type-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seats-type-box {
    width: 37px;
    height: 37px;
    margin-right: 9px;
}

.seats-type-box-selected {
    background: #fad744;
}

.seats-type-box-available {
    background: #727272;
}

.seats-type-box-ticketed {
    border: 1px solid #000;
    background: #f2f2f2;
}

.seats-type-box-not-available {
    background: #d9d9d9;
}

.seats-type-box-proceeding {
    border: 1px solid #000;
    background: #f2f2f2;
}
