.header {
    height: 118px;
    /* background-color: yellow; */
    border-bottom: solid rgba(0, 0, 0, 0.25);
}

.header-red {
    height: 37px;
    background-color: #ef5455;
    padding-right: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.auth {
    padding-left: 60.2px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.line {
    height: 81px;
    padding-left: calc(100vw * 143 / 1440);
    padding-right: calc(100vw * 47 / 1440);
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pupil-dilation {
    width:211px;
}

.line-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-button {
    width: calc(100vw*24/1440);
}

.user-button {
    padding-left: calc(100vw * 70 / 1440);
    width: calc(100vw*24/1440);
    height: 24px;
}

.search-input {
    width: 357px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 39px;
    border: 2px solid #ef5455;
    padding-left: calc(100vw * 20 / 1440);
    padding-right: calc(100vw * 20 / 1440);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input[name='search'] {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 24px;
    font-weight: 400;
}

