.spin {
    position: absolute;
    top: 0px; left: 0px;
    margin-left: 45%;
    margin-top: 18.469%;
}

.logo-not-spin {
    position: absolute; 
    top: 0px; left: 0px;
    margin-left: 46.5%;
    margin-top: 20%;
}