.container {
    display: flex;
}

.logo {
    width: calc(100vw * 333 / 1440);
    height: calc(100vh * 360 / 820);
    flex-shrink: 0;
    display: flex;
    margin-left: calc(100vw * 260 / 1440);
    margin-top: calc(100vh * 159 / 820);
}

.right-page {
    width: calc(100vw * 455 / 1440);
    height: calc(100vh * 416 / 820);
    flex-shrink: 0;
    margin-left: calc(100vw * 140 / 1440);
    margin-top: calc(100vh * 131 / 820);
    display: grid;
    grid-template-columns: 5;
    align-items: center;
}

.right-high {
    display: flex;
    justify-content: space-between;
}

.login-text1 {
    color: #000;
    font-size: calc(100vw * 32 / 1440);
    font-family: Noto Sans KR;
    font-weight: 700;
}

.id1 {
    border: none;
    width: calc(100vw * 448 / 1440);
    height: calc(100vh * 63 / 820);
    font-size: calc(100vw * 32 / 1440);
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25) inset;
}

.id1::placeholder {
    color: rgba(0, 0, 0, 0.55);
    font-size: calc(100vw * 32 / 1440);
    font-family: Noto Sans KR;
}

.password1 {
    border: none;
    width: calc(100vw * 448 / 1440);
    height: calc(100vh * 63 / 820);
    font-size: calc(100vw * 32 / 1440);
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25) inset;
}

.password1::placeholder {
    color: rgba(0, 0, 0, 0.55);
    font-size: calc(100vw * 32 / 1440);
    font-family: Noto Sans KR;
}

.sign-up1 {
    border: none;
    width: calc(100vw * 134 / 1440);
    height: calc(100vh * 46 / 820);
    flex-shrink: 0;
    border-radius: 23px;
    background: var(--theme-navy, #2B3252);
}

.sign-up-text1 {
    color: var(--theme-yellow, #FAD744);
    font-size: calc(100vw * 20 / 1440);
    font-family: Noto Sans KR;
}

.checker {
    display: flex;

}

.id-check {
    border: none;
    width: calc(100vw * 25 / 1440);
    height: calc(100vh * 25 / 820);
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25) inset;
}

.save-id {
    color: #000;
    font-size: calc(100vw * 20 / 1440);
    font-family: Noto Sans KR;
    font-weight: 300;
}

.login1 {
    border: none;
    width: calc(100vw * 448 / 1440);
    height: calc(100vh * 84 / 820);
    flex-shrink: 0;
    border-radius: 34px;
    background: var(--theme-yellow, #FAD744);
}

.login-text2 {
    color: var(--theme-red, #EF5455);
    font-size: calc(100vw * 32 / 1440);
    font-family: Noto Sans KR;
    font-weight: 700;
}