.container-mobile {
    display: grid;
    grid-template-rows: 2;
}

.logo-mobile {
    width: calc(100vw * 113 / 393);
    height: calc(100vh * 122 / 852);
    flex-shrink: 0;
    margin-top: calc(100vh * 16 / 852);
}