.right-page-desktop {
    width: calc(100vw * 455 / 1440);
    height: calc(100vh * 416 / 820);
    flex-shrink: 0;
    margin-left: calc(100vw * 140 / 1440);
    margin-top: calc(100vh * 131 / 820);
    display: grid;
    grid-template-columns: 5;
    align-items: center;
}

.right-high-desktop {
    display: flex;
    justify-content: space-between;
}

.login-text1-desktop {
    color: #000;
    font-size: calc(100vw * 32 / 1440);
    font-family: Noto Sans KR;
    font-weight: 700;
}

.tasd{
    background-image: url('blob:https://www.figma.com/3475c795-9458-4c5d-baa8-42a2f46fb695');
}


.id1-desktop::placeholder {
    color: rgba(0, 0, 0, 0.55);
    font-size: calc(100vw * 32 / 1440);
    font-family: Noto Sans KR;
}


.password1-desktop::placeholder {
    color: rgba(0, 0, 0, 0.55);
    font-size: calc(100vw * 32 / 1440);
    font-family: Noto Sans KR;
}

.sign-up1-desktop {
    border: none;
    width: calc(100vw * 134 / 1440);
    height: calc(100vh * 46 / 820);
    flex-shrink: 0;
    border-radius: 23px;
    background: var(--theme-navy, #2b3252);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sign-up-text1-desktop {
    color: var(--theme-yellow, #fad744);
    font-size: calc(100vw * 20 / 1440);
    font-family: Noto Sans KR;
}

.checker-desktop {
    display: flex;
    align-items: center;
}

.checker-desktop-left{
    display: flex;
    width: 50%;
    justify-content: start;
    align-items: center;
}

.checker-desktop-right{
    display: flex;
    width: 50%;
    justify-content: end;
    margin-right: 7px;
}

.checker-desktop-right button{
    border: none;
    background-color: #fff;
    color: #000;
    font-family: Noto Sans KR;
    font-size: calc(100vw * 14 / 1440);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checker-desktop-right button:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: black;
}

.id-check-desktop {
    border: none;
    width: calc(100vw * 20 / 1440);
    height: calc(100vw * 20 / 1440);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25) inset;
}

.save-id-desktop {
    color: #000;
    font-size: calc(100vw * 20 / 1440);
    font-family: Noto Sans KR;
    font-weight: 300;
}

.login1-desktop {
    border: none;
    width: calc(100vw * 448 / 1440);
    height: calc(100vh * 84 / 820);
    flex-shrink: 0;
    border-radius: 34px;
    background: var(--theme-yellow, #fad744);
    cursor: pointer;
}

.login-text2-desktop {
    color: var(--theme-red, #ef5455);
    font-size: calc(100vw * 32 / 1440);
    font-family: Noto Sans KR;
    font-weight: 700;
}

.vertical-line{
    border-left: thin solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px; 
    height: 20px;
}

/*==================아이디 입력란 CSS==================*/

.id-blank{
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100vw * 448 / 1440);
    height: calc(100vh * 63 / 820);
}

.id1-desktop {
    border: none;
    width: calc(100vw * 448 / 1440);
    height: calc(100vh * 63 / 820);
    font-size: calc(100vw * 32 / 1440);
    flex-shrink: 0;
    border-radius: 7px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25) inset;
    text-indent: calc(100vw * 50 / 1400);
    position: absolute;
}

.id-blank-image{
    position: absolute;
    margin-left: calc(100vw * 13 / 1440);
    width: calc(100vw * 24 / 1440);
    height: calc(100vh * 24 / 820);
}

.input-id-img{
    width: calc(100vw * 27 / 1440);
    height: calc(100vh * 27 / 820);
}

/*===============패스워드 입력란 CSS====================*/

.password-blank{
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100vw * 448 / 1440);
    height: calc(100vh * 63 / 820);
}

.password1-desktop {
    border: none;
    width: calc(100vw * 448 / 1440);
    height: calc(100vh * 63 / 820);
    font-size: calc(100vw * 32 / 1440);
    flex-shrink: 0;
    border-radius: 7px;
    background: #fff;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25) inset;
    text-indent: calc(100vw * 50 / 1400);
    position: absolute;
}

.password-blank-image{
    position: absolute;
    margin-left: calc(100vw * 15 / 1440);
    width: calc(100vw * 24 / 1440);
    height: calc(100vh * 24 / 820);
    object-fit: cover;
}

.input-pass-img{
    width: calc(100vw * 24 / 1440);
    height: calc(100vh * 24 / 820);
}
